.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    background-color: #1F2937;
}

.link {
    flex-shrink: 0;
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.top {
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    align-items: center;
    padding: 80px;
    gap: 32px;
}

.left {
    display: flex;
    flex-flow: column;
    flex: 1;
    font-size: 18px;
    color: #E5E7EB;
}

.button {
    margin-top: 8px;
    text-align: center;
    text-decoration: none;
    color: #E5E7EB;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 8px;
    width: 128px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 80px;
}

.cards {    
    display: flex;
    align-items: center;
}

.card {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

.rune {
    flex: 1;
    max-width: 50%;
    border-radius: 8px;
}

.mid {
    background-color: #E5E7EB;
}

.quote {
    display: flex;
    flex-direction: column;
    padding: 80px;
    font-style: italic;
    font-weight: 300;
    gap: 4px;
}

.by {
    font-style: normal;
    font-weight: 700;
    align-self: flex-end;
}

#title {
    font-size: 24px;
    color: #F9FAF8;
    flex-shrink: 0;
}

#logo {
    flex: 1;
    max-width: 50%;
    min-width: 50%;
}

#hero {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0px;
}

#infotext {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

nav {
    display: flex;
    gap: 16px;
}

body {
    font-family: "Roboto", sans-serif;
}

p {
    margin: 0px;
}